<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
              <div class="form-group">
                <label for="name">Name / Model No</label>
                <input type="text" class="form-control" id="name"  placeholder="Enter the name or the model number of the product" [(ngModel)] = "name" name="name">
              </div>
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" placeholder="1" [(ngModel)] = "quantity" name="quantity">
              </div>
              <div class="form-group">
                  <label for="category">Category</label>
                  <select id="category" class="form-control" (change) = "onChangeCategory($event.target.value)">
                    <option selected>Choose Category</option>
                    <option [value] = "getStringifiedObj(category)" *ngFor="let category of categories" [disabled]= "category.name === 'all'">{{category.name}}</option>
                    <option value="newCategory">Add a new category</option>
                  </select>
              </div>
              <div class="form-group" *ngIf="addNewCategory">
                  <label for="newCategory">Category Name</label>
                  <input type="text" class="form-control" id="newCategory"  placeholder="Enter the name of the new category" [(ngModel)] = "newCategory" name="newCategory">
              </div>
              <div class="form-group">
                  <label for="brand">Brand</label>
                  <select id="category" class="form-control" (change) = "onChangeBrand($event.target.value)">
                    <option selected>Choose Brand</option>
                    <option [value] = "getStringifiedObj(brand)" *ngFor="let brand of brands">{{brand.name}}</option>
                    <option value = "newBrand">Add a new brand</option>
                  </select>
              </div>
              <div class="form-group" *ngIf="addNewBrand">
                  <label for="newBrand">Brand Name</label>
                  <input type="text" class="form-control" id="newBrand"  placeholder="Enter the name of the new Brand" [(ngModel)] = "newBrand" name="newBrand">
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click) = "onSubmit()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
